Principles[[:space:]]of[[:space:]]database[[:space:]]management[[:space:]]_[[:space:]]the[[:space:]]practical[[:space:]]guide[[:space:]]to[[:space:]]storing,[[:space:]]managing[[:space:]]and[[:space:]]analyzing[[:space:]]big[[:space:]]and[[:space:]]small[[:space:]]data[[:space:]]-[[:space:]]PDF[[:space:]]Room.pdf filter=lfs diff=lfs merge=lfs -text
